header.header
  .container
    .header__content
      a.header__logo(href="/")
        picture
          source(srcset="images/logo-mobile.svg", media="(max-width: 768px)" )
          img(src="images/logo.svg", alt="Logo")
      nav.nav.js-open-nav
        ul.nav__list
          li.nav__item
            a.nav__link(href="#") Новости
          li.nav__item
            a.nav__link(href="#") Компания
          li.nav__item
            a.nav__link(href="#") Карьера
          li.nav__item
            a.nav__link(href="#") Контакты
      .header__burger.js-burger
        span.header__burger-item
