extends /layout/app

block intro
  include ./intro/index
block content
  include ./state/index
  include ./technologies/index
  include ./news/index
  include ./statistics/index
  include ./career/index
  include ./products/index
