section.advertising
  .container
    h2.advertising__title Реклама
    span.advertising__subtitle 11 миллионов пользователей в месяц
    p.advertising__text 
      | Мы размещаем рекламу в печатных журналах и на сайтах. Суммарный тираж журналов — 10 миллионов в год, наши сайты посещают 11 миллионов бухгалтеров, кадровиков, юристов, финансистов и управленцев.
    a.advertising__link Разместить рекламу
      //- img.advertising__link-img(src="", alt="Arrow right")
  .advertising__cards
    .advertising__card
      a.advertising__card-link(href="#") 
        img.advertising__card-img(src="images/advertising-4.png", alt="Advertising card")
    .advertising__card
      a.advertising__card-link(href="#") 
        img.advertising__card-img(src="images/advertising-1.png", alt="Advertising card")
    .advertising__card
      a.advertising__card-link(href="#") 
        img.advertising__card-img(src="images/advertising-2.png", alt="Advertising card")
    .advertising__card
      a.advertising__card-link(href="#") 
        img.advertising__card-img(src="images/advertising-3.png", alt="Advertising card")
