section.statistics
  .container
    h3.statistics__title за 2020 год
    .statistics__cards
      .statistics__card
        span.statistics__card-subtitle Обработали
        h2.statistics__card-title 30 млн
        span.statistics__card-description поисковых <br> запросов
      .statistics__card
        span.statistics__card-subtitle Обучили
        h2.statistics__card-title 120 330
        span.statistics__card-description специалистов
      .statistics__card
        span.statistics__card-subtitle Ответили на
        h2.statistics__card-title 16 млн
        span.statistics__card-description вопросов
      .statistics__card
        span.statistics__card-subtitle Наши статьи прочли
        h2.statistics__card-title 23.3 млн
        span.statistics__card-description человек