section.technologies
  .container
    h2.technologies__title Технологии
    span.technologies__subtitle Наши разработки в маркетинге и продуктах
    .technologies__cards-slider
      button.button__slider.button__slider--next(type='button')
        img.button__slider-img(src="images/arrow-right-slide.svg", alt="Arrow right")
      button.button__slider.button__slider--prev(type='button')
        img.button__slider-img(src="images/arrow-left-slide.svg", alt="Arrow left")  
      .technologies__cards  
        .technologies__card
          picture
            source(srcset="images/technologies-card-mobile.svg", media="(max-width: 1170px)" )
            img.technologies__card-img(src="images/technologies-card.svg", alt="Technologies card")
          span.technologies__card-title Рабочее место редактора(1)
          p.technologies__card-text 
            | Актион имеет статус Центра оценки квалификации и принимает официальные экзамены на соответствие профстандартам для разных профессий
        .technologies__card
          picture
            source(srcset="images/technologies-card-mobile.svg", media="(max-width: 1170px)" )
            img.technologies__card-img(src="images/technologies-card.svg", alt="Technologies card")
          span.technologies__card-title Рабочее место редактора(2)
          p.technologies__card-text 
            | Актион имеет статус Центра оценки квалификации и принимает официальные экзамены на соответствие профстандартам для разных профессий
        .technologies__card
          picture
            source(srcset="images/technologies-card-mobile.svg", media="(max-width: 1170px)" )
            img.technologies__card-img(src="images/technologies-card.svg", alt="Technologies card")
          span.technologies__card-title Рабочее место редактора(3)
          p.technologies__card-text 
            | Актион имеет статус Центра оценки квалификации и принимает официальные экзамены на соответствие профстандартам для разных профессий
        .technologies__card
          picture
            source(srcset="images/technologies-card-mobile.svg", media="(max-width: 1170px)" )
            img.technologies__card-img(src="images/technologies-card.svg", alt="Technologies card")
          span.technologies__card-title Рабочее место редактора(4)
          p.technologies__card-text 
            | Актион имеет статус Центра оценки квалификации и принимает официальные экзамены на соответствие профстандартам для разных профессий
        .technologies__card
          picture
            source(srcset="images/technologies-card-mobile.svg", media="(max-width: 1170px)" )
            img.technologies__card-img(src="images/technologies-card.svg", alt="Technologies card")
          span.technologies__card-title Рабочее место редактора(5)
          p.technologies__card-text 
            | Актион имеет статус Центра оценки квалификации и принимает официальные экзамены на соответствие профстандартам для разных профессий

