section.state
  .container
    h2.state__title Работаем с государством
    span.state__subtitle 25 лет сотрудничества
    .state__cards-slider
      button.button__slider.button__slider--next(type='button')
        img.button__slider-img(src="images/arrow-right-slide.svg", alt="Arrow right")
      button.button__slider.button__slider--prev(type='button')
        img.button__slider-img(src="images/arrow-left-slide.svg", alt="Arrow left")  
      .state__cards
        .state__card
          span.state__card-title Профстандарты
          p.state__card-text 
            | Участвуем в разработке профстандартов для финансовых директоров, бухгалтеров, юристов, налоговых консультантов
        .state__card
          span.state__card-title Профстандарты
          p.state__card-text 
            | Участвуем в разработке профстандартов для финансовых директоров, бухгалтеров, юристов, налоговых консультантов
        .state__card
          span.state__card-title Профстандарты
          p.state__card-text 
            | Участвуем в разработке профстандартов для финансовых директоров, бухгалтеров, юристов, налоговых консультантов
        .state__card
          span.state__card-title Профстандарты
          p.state__card-text 
            | Участвуем в разработке профстандартов для финансовых директоров, бухгалтеров, юристов, налоговых консультантов
        .state__card
          span.state__card-title Профстандарты
          p.state__card-text 
            | Участвуем в разработке профстандартов для финансовых директоров, бухгалтеров, юристов, налоговых консультантов
