.intro
  padding-top: 153px
  padding-bottom: 309px
  background: #000

.intro__content
  max-width: 958px

.intro__title
  margin-bottom: 50px
  color: #fff
  font-weight: $font-weight-black
  font-size: 64px
  line-height: 1.25


.intro__button
  margin-right: 24px
  padding: 15px 18px
  color: #fff
  background-color: rgba(153, 153, 153, 0.4)
  border-radius: 7px
  font-size: 20px
  line-height: 1.25
  text-decoration: none

  &:last-child
    margin-right: 0

.intro__button--all
  background-color: transparent
  border: 2px solid rgba(153, 153, 153, 0.4)

.intro__button-img
  margin-right: 4px
  vertical-align: bottom
