section.intro
  .container
    .intro__content
      h1.intro__title Профессиональные знания и сервисы для миллионов специалистов
      .intro__buttons
        a.intro__button(href="#") 
          img.intro__button-img(src="images/accountant.svg", alt="Accountant")
          | Бухгалтеров
        a.intro__button(href="#") 
          img.intro__button-img(src="images/lawyer.svg", alt="Lawyer")
          | Юристов
        a.intro__button(href="#") 
          img.intro__button-img(src="images/financier.svg", alt="Financier")
          | Финансистов
        a.intro__button(href="#") 
          img.intro__button-img(src="images/personnel-officer.svg", alt="Personnel Office")
          | Кадровиков
        a.intro__button.intro__button--all(href="#") Все
          img.intro__button-img(src="images/arrow-down.svg", alt="Arrow down")