section.news
  .container
    h2.news__title Новости
    span.news__subtitle Продукты, технологии, блог
    .news__list
      a.news__item(href="#")
        picture
          source(srcset="images/news-item-desktop.jpg", media="(max-width: 1500px)" ) 
          img.news__item-img(src="images/news-item-1.jpg", alt="News image")
        span.news__item-title Новый продукт
        span.news__item-subtitle Обновленная мобильная версия справочных систем
      a.news__item(href="#")
        picture
          source(srcset="images/news-item-desktop.jpg", media="(max-width: 1500px)" )
          img.news__item-img(src="images/news-item-2.jpg", alt="News image")
        span.news__item-title Блог
        span.news__item-subtitle Обновленная мобильная версия справочных систем
      a.news__item(href="#") 
        picture 
          source(srcset="images/news-item-desktop.jpg", media="(max-width: 1500px)" )
          img.news__item-img(src="images/news-item-3.jpg", alt="News image")
        span.news__item-title Новый продукт
        span.news__item-subtitle Обновленная мобильная версия справочных систем
      a.news__item(href="#") 
        picture 
          source(srcset="images/news-item-desktop.jpg", media="(max-width: 1500px)" )
          img.news__item-img(src="images/news-item-4.jpg", alt="News image")
        span.news__item-title Технологии
        span.news__item-subtitle Обновленная мобильная версия справочных систем
    a.news__link(href="#") Все новости
      picture 
        source(srcset="images/arrow-right-mobile.svg", media="(max-width: 767px)" )
        img.news__link-img(src="images/arrow-right.svg", alt="Arrow right")